---
import Icon from "@components/Icon/Icon.astro";
import "./recipes.scss";

interface Props {
	sliderId: string;
}

const { sliderId } = Astro.props;

const recipes = [
	{
		src: "/demo-content/recipe-1.webp",
		width: 692,
		height: 560,
	},
	{
		src: "/demo-content/recipe-2.webp",
		width: 338,
		height: 269,
	},
	{
		src: "/demo-content/recipe-3.webp",
		width: 338,
		height: 269,
	},
	{
		src: "/demo-content/recipe-4.webp",
		width: 338,
		height: 269,
	},
	{
		src: "/demo-content/recipe-5.webp",
		width: 338,
		height: 269,
	},
];
---

<div class="recipes swiper" id={sliderId}>
	<div class="swiper-wrapper">
		{
			recipes.map((img) => (
				<a class="recipes__link swiper-slide" href="#">
					<picture class="recipes__img-wrapper">
						<source media="(max-width: 859.98px)" srcset={img.src} width="164" height="219" />
						<img class="recipes__img" {...img} alt="" loading="lazy" decoding="async" />
					</picture>
					<div class="recipes__info">
						<h3 class="recipes__title">Ніжна куряча печінка з ароматними грушами</h3>
						<p class="recipes__description">Час приготування: 25 хв | Кількість порцій: 4</p>
						<span class="recipes__btn" aria-hidden="true">
							Дивитись <Icon id="arrow-right" />
						</span>
					</div>
				</a>
			))
		}
	</div>
</div>
