---
import Icon from "@components/Icon/Icon.astro";
import "./city-selector.scss";
---

<button class="city-selector" type="button">
	<Icon class="city-selector__icon" id="location" />
	Київ
	<span class="city-selector__tooltip">Зараз доставку виконуємо тільки по Києву та області</span>
</button>
