.cart {
	$root: &;

	background-color: #fff;

	&_view {
		&_edit {
			box-shadow: 0 0 3.5px rgba(186, 168, 143, 0.5);
			border: 1px solid #fff;
			border-radius: 20px;
			overflow: hidden;
		}
	}

	&__body {
		display: grid;

		#{$root}_view_edit & {
			grid-template-columns: repeat(2, max-content) auto repeat(4, max-content);
		}

		#{$root}_view_summary & {
			grid-template-columns: repeat(2, max-content) auto repeat(2, minmax(0, 1fr));
		}
	}

	&__header,
	&__row {
		display: grid;
		grid-template-columns: subgrid;
		grid-column: 1 / -1;
		align-items: center;
	}

	&__header {
		background-color: #e5e0db;
		font-size: 12px;

		#{$root}_view_summary & {
			display: none;
		}
	}

	&__th {
		padding: 13px 10px;
		text-align: center;

		&:not(:last-child) {
			border-right: 1px solid #fff;
		}
	}

	&__row:nth-child(odd) {
		background-color: #f4f1ee;
	}

	&__col {
		padding: 7px 10px;

		&_id {
			&_sku {
				font-size: 12px;
				text-align: center;
			}

			:where(&_price, &_sum) {
				font-size: 20px;
				font-family: 'Oswald', sans-serif;
				white-space: nowrap;

				#{$root}_view_edit & {
					text-align: right;
				}

				#{$root}_view_summary & {
					text-align: center;
				}
			}

			&_quantity {
				#{$root}_view_summary & {
					display: none;
				}
			}

			&_action {
				text-align: center;

				#{$root}_view_summary & {
					display: none;
				}
			}
		}
	}

	&__img {
		width: 77px;
		aspect-ratio: 77 / 57;
		object-fit: cover;
		border-radius: 10px;
	}

	&__name {
		font: 18px/1 'Oswald', sans-serif;
	}

	&__name-link {
		transition: color .2s;
	}

	&__weight {
		font-size: 12px;
		color: #777;
		white-space: nowrap;
	}

	&__quantity {
		width: 132px;
	}

	&__count {
		font-size: 16px;

		&::before {
			content: 'x';
			padding-inline: em(12, 16);
		}

		#{$root}_view_edit & {
			display: none;
		}
	}

	&__remove-btn {
		width: 44px;
		font-size: 24px;
	}

	&__footer {
		grid-column: 1 / -1;
		display: flex;
		justify-content: space-between;
		gap: 10px 24px;
		padding: 16px;

		#{$root}_view_summary & {
			display: none;
		}
	}

	@media (width<1200px) {
		&__summary {
			margin-inline: auto;
			max-width: 600px;
		}
	}

	@media (width<992px) {
		&__body {
			#{$root}_view_edit & {
				grid-template-columns: repeat(2, max-content) auto repeat(3, max-content);
			}
		}

		:where(&__col_id_price, &__th_id_price) {
			#{$root}_view_edit & {
				display: none;
			}
		}
	}

	@media (width<768px) {
		&__body {
			#{$root}_view_edit & {
				grid-template-columns: max-content auto repeat(3, max-content);
			}
		}

		:where(&__col_id_sku, &__th_id_sku) {
			#{$root}_view_edit & {
				display: none;
			}
		}
	}

	@media (width<640px) {
		$column-gap: 20px;

		&__header {
			display: none;
		}

		&__body {
			display: block;
		}

		&__row {
			padding: 10px;
			display: flex;
			flex-wrap: wrap;
			gap: 16px $column-gap;
		}

		&__col {
			padding: 0;

			&_id {
				&_sku {
					#{$root}_view_summary & {
						display: none;
					}
				}

				&__img {
					width: 77px;
				}

				&_name {
					margin-left: auto;
					width: calc(100% - 77px - $column-gap);
				}

				:where(&_sum, &_price) {
					align-self: end;
					font-size: 18px;
					text-align: left;
					line-height: 1.3;
				}

				&_sum {
					#{$root}_view_edit & {
						width: calc(100% - 132px - 44px - $column-gap * 2);
					}

					&::before {
						content: attr(aria-label);
						display: block;
						font-size: 12px;
						font-family: var(--page-font-family);
						color: #777;
					}
				}

				&_action {
					margin-left: auto;
				}
			}
		}
	}

	@media (width<480px) {
		&__footer {
			flex-direction: column;
		}
	}

	@media (width>=1200px) {
		&__col_id_name~&__col {
			padding-inline: 22px;
		}

		&__th_id_name~&__th {
			padding-inline: 20px;
		}

		&__continue-btn {
			padding-inline: 32px;
		}
	}

	@media (hover) {
		&__name-link:hover {
			color: var(--clr-primary);
		}
	}
}