.personal-data {
	--cols: 1;
	display: grid;
	grid-template-columns: repeat(var(--cols), minmax(0, 1fr));
	gap: 24px 30px;

	&__actions {
		grid-column: 1 / -1;
		margin-top: fluid(8, 18);
		display: flex;
		flex-wrap: wrap;
		gap: 10px fluid(32, 50);

		&>* {
			width: 100%;
		}
	}

	@media (width>=576px) {
		--cols: 2;

		&__actions>* {
			min-width: fit-content;
			width: 297px;
		}
	}
}