.input {
	height: 40px;
	padding: 0 19px;
	border-radius: 20px;
	background-color: #fff;
	color: #000;
	border: 1px solid #e1e1e1;
	font: 16px var(--page-font-family);
	transition: border-color .2s;

	&:user-invalid,
	&_invalid {
		color: #f00;
	}

	&:not(:user-invalid, &_invalid):focus {
		border-color: #999;
	}
}