---
import Title from "@components/Title/Title.astro";
import "./order-details.scss";
---

<section class="order-details">
	<div class="order-details__recipient">
		<Title class="order-details__title" as="h3" size={4}>Отримувач:</Title>
		<div class="order-details__description u-margin-trim">
			<p>Володимир Кузьменко</p>
			<p>Телефон: +38(050)355-29-38</p>
			<p>Email: oven.vk@gmail.com</p>
		</div>
	</div>
	<div class="order-details__address">
		<Title class="order-details__title" as="h3" size={4}>Адреса доставки:</Title>
		<p>Київська область, м. Вишгород, вул. Шолуденка, буд. № 19</p>
	</div>
	<div class="order-details__payment">
		<Title class="order-details__title" as="h3" size={4}>Оплата</Title>
		<p>Готівкою при отриманні</p>
	</div>
</section>
