.input-password {
	$btn-padding-inline: 10px;
	$icon-size: 20px;
	$icon-offset: 18px;

	position: relative;

	&__control {
		width: 100%;
		padding-right: $btn-padding-inline + $icon-size + $icon-offset;
	}

	&__btn {
		position: absolute;
		right: $icon-offset - $btn-padding-inline;
		top: 0;
		height: 100%;
		padding-inline: $btn-padding-inline;
		font-size: $icon-size;
		color: #8c8c8c;
		transition: color .2s;
	}

	@media (hover) {
		&__btn:hover {
			color: var(--clr-primary);
		}
	}
}