---
import Input from "@components/Input/Input.astro";
import Icon from "@components/Icon/Icon.astro";
import "./input-password.scss";

const { class: className, componentProps, ...props } = Astro.props;
---

<div class:list={[className, "input-password"]} {...componentProps}>
	<Input class="input-password__control" {...props} />
	<button class="input-password__btn" type="button">
		<Icon id="eye-blocked" />
	</button>
</div>
