.catalog {
	margin-bottom: fluid(29, 60);

	&__toolbar {
		margin-bottom: fluid(28, 14);
	}

	&__pagination {
		margin-top: fluid(12, 30);
	}

	@media (width<1200px) {
		&__pagination {
			margin-inline: auto;
			width: fit-content;
		}
	}

	@media (width>=1200px) {
		position: relative;
		display: grid;
		grid-template-columns: minmax(0, 290px) minmax(0, 1fr);
		column-gap: 15px;

		&::before {
			content: attr(data-background-text);
			position: absolute;
			z-index: -1;
			right: 0;
			bottom: 100%;
			font-size: 116px;
			font-weight: 900;
			text-transform: uppercase;
			color: rgba($color: #e3dacf, $alpha: 0.341);
			white-space: nowrap;
		}
	}
}