.btn {
	--bg: transparent;
	--color: #000;
	min-height: 40px;
	padding: 8px 20px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	column-gap: 13px;
	background-color: var(--bg);
	color: var(--color);
	border: 1px solid var(--border-color);
	border-radius: 40px;
	font: var(--page-font);
	font-size: 18px;
	line-height: 1.2;
	text-align: center;
	user-select: none;
	outline: none;
	transition-property: background-color, color, border-color, filter;
	transition-duration: .15s;

	&:not(&_icon-only, &_variant_ghost) {
		min-width: 173px;
	}

	&_variant {
		&_solid {
			--bg: #000;
			--color: #fff;
			--border-color: transparent;
		}

		&_solid-alpha {
			--bg: var(--clr-alpha);
			--color: #000;
			--border-color: transparent;
		}

		&_solid-beta {
			--bg: var(--clr-beta);
			--color: #000;
			--border-color: transparent;
		}

		&_outline {
			--bg: transparent;
			--color: #000;
			--border-color: #000;
		}

		&_outline-muted {
			--bg: transparent;
			--color: #000;
			--border-color: #b7b7b7;
		}

		&_outline-white {
			--bg: transparent;
			--color: #fff;
			--border-color: #fff;
		}

		&_solid-white {
			--bg: #fff;
			--color: #000;
			--border-color: #b7b7b7;
		}

		&_ghost {
			min-height: auto;
			padding: 0;
			border-radius: 0;
		}
	}

	&_size {
		&_lg {
			min-height: fluid(50, 60);
			font-size: fluid(20, 24);
		}
	}

	&:focus-visible {
		box-shadow: 0 0 0 4px color-mix(in srgb, var(--clr-primary), transparent 70%);
	}

	&_icon-only {
		padding: 0;
		aspect-ratio: 1;
		border-radius: 50%;
		font-size: 20px;
	}

	&__icon {
		transform: var(--btn-icon-transform, none);

		&._start {
			margin-left: -0.5em;
		}

		&._end {
			margin-right: -0.5em;
		}
	}

	@media (hover) {
		&_variant {
			&_solid:hover {
				--bg: var(--clr-primary);
			}

			&_solid-alpha:hover,
			&_solid-beta:hover {
				filter: brightness(1.2);
			}

			&_solid-white:hover {
				--color: var(--clr-primary);
				--border-color: var(--clr-primary);
			}

			&_outline:hover,
			&_outline-muted:hover {
				--color: var(--clr-primary);
				--border-color: var(--clr-primary);
			}

			&_outline-white:hover {
				--bg: #fff;
				--color: #000;
				--border-color: transparent;
			}
		}

		&_variant_ghost:hover {
			--color: var(--clr-primary);
		}
	}
}