---
import "./hero-accordion.scss";

const { class: className } = Astro.props;

const slides = [
	{
		label: "СІМ’Я",
		image: {
			src: "/media/segment/segment-home-1.webp",
			alt: "Свіжі продукти для сім'ї",
		},
	},
	{
		label: "БІЗНЕС",
		image: {
			src: "/media/segment/segment-business-1.webp",
			alt: "Свіжі продукти для бізнесу",
		},
	},
	{
		label: "HoReCa",
		image: {
			src: "/media/segment/segment-horeca-1.webp",
			alt: ""
		},
	},
];
---

<div class:list={[className, "hero-accordion"]}>
	{
		slides.map(({ label, image }, index) => (
			<div class:list={['hero-accordion__slide', {_open: !index}]}>
				<button class="hero-accordion__btn" type="button">
					<span class="hero-accordion__btn-label">{label}</span>
				</button>
				<img
					class="hero-accordion__img"
					{...image}
					width="500"
					height="240"
					decoding="async"
				/>
			</div>
		))
	}
</div>
