---
import "./badge.scss";

interface Props {
	theme: "primary" | "alpha" | "beta" | "gamma" | "white";
	attach?: "start" | "end";
	class?: string;
}

const { class: className, theme, attach } = Astro.props;
---

<p class:list={[className, `badge badge_theme_${theme}`, attach && `badge_attach_${attach}`]}>
	<slot />
</p>
