.badge {
	$root: &;

	--padding-inline: em(12, 16);
	width: fit-content;
	padding: em(5, 16) var(--padding-inline);
	font-family: 'Oswald', sans-serif;
	line-height: 1.2;
	white-space: nowrap;

	&_attach {
		&_start {
			border-top-right-radius: calc(infinity * 1px);
			border-bottom-right-radius: calc(infinity * 1px);
			padding-right: calc(var(--padding-inline) + var(--padding-inline) * var(--padding-multiplier));
		}

		&_end {
			border-top-left-radius: calc(infinity * 1px);
			border-bottom-left-radius: calc(infinity * 1px);
			padding-right: calc(var(--padding-inline) + var(--padding-inline) * var(--padding-multiplier));
			text-align: right;
		}
	}

	&_theme {
		&_white {
			background-color: #fff;
			color: #777;
		}

		&_primary {
			background-color: var(--clr-primary);
			color: #fff;
		}

		&_alpha {
			background-color: var(--clr-alpha);
			color: #fff;
		}

		&_beta {
			background-color: var(--clr-beta);
			color: #fff;
		}

		&_gamma {
			background-color: var(--clr-gamma);
			color: #fff;
		}
	}

	&_size {
		&_sm {
			--padding-multiplier: 0;
		}

		&_md {
			--padding-multiplier: 0.7;
		}

		&_lg {
			--padding-multiplier: 2;
		}
	}
}