.form {
	$cols: 2;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(min(100%, max(320px, 100% / ($cols + 1) + 1px)), 1fr));
	gap: fluid(16, 24) 30px;

	&__actions {
		grid-column: 1 / -1;
		margin-top: fluid(8, 18);
		display: flex;
		flex-wrap: wrap;
		gap: 10px fluid(32, 50);

		&>* {
			width: 100%;
		}
	}

	@media (width>=480px) {
		&__actions>* {
			width: min(100%, 250px);
			min-width: fit-content;
		}
	}
}