---
import "./sidebar-grid.scss";

interface Props {
	class?: string;
	reverse?: boolean;
	align?: "start";
	placement?: 'account';
}

const { class: className, align, reverse, placement } = Astro.props;
---

<div
	class:list={[
		className,
		"sidebar-grid",
		align && `sidebar-grid_align_${align}`,
		reverse && "sidebar-grid_reverse",
		placement && `sidebar-grid_placement_${placement}`,
	]}
>
	{
		reverse ? (
			<>
				<slot name="content" />
				<slot name="sidebar" />
			</>
		) : (
			<>
				<slot name="sidebar" />
				<slot name="content" />
			</>
		)
	}
</div>
