@use "@scss/_var.scss";

.sidebar-grid {
	display: grid;
	grid-template-columns: minmax(0, 1fr);
	gap: 32px 15px;

	&_align {
		&_start {
			align-items: start;
		}
	}

	&_placement {
		&_account {
			column-gap: 60px;
		}
	}

	@media (width>=var.$sidebar-bp) {
		grid-template-columns: minmax(0, 290px) minmax(0, 1fr);

		&_reverse {
			grid-template-columns: minmax(0, 1fr) minmax(0, 290px);
		}
	}
}