---
import Field from "@components/Field/Field.astro";
import Btn from "@components/Btn/Btn.astro";
import OTP from "@components/OTP/OTP.astro";
import "./phone-login.scss";
import "@components/AuthForm/auth-form.scss";
---

<div class="phone-login">
	<form class="auth-form phone-login__step phone-login__step_active" data-form="phone-login">
		<Field class="auth-form__row" label="Номер телефону" component="input" id="phone" name="phone" data-phone-mask="" required />
		<div class="auth-form__actions">
			<Btn class="auth-form__primary-btn" variant="solid" type="submit">Продовжити</Btn>
		</div>
		<p class="phone-login__notice">
			Продовжуючи, ви підтверджуєте, що згодні увійти до облікового запису FoodFactory та надаєте згоду
			на обробку персональних даних
		</p>
	</form>
	<OTP class="phone-login__step" />
</div>
