---
import Title from "@components/Title/Title.astro";
import "./order-comment.scss";
---

<section class="order-comment">
	<Title class="order-comment__title" as="h3" size={4}>Коментар:</Title>
	<div class="order-comment__text typography">
		<p>прошу рахунок для ТОВ МКМ СЕРВІС ЛТД, код єдрпоУ 36444694 Товариство з обмеженою відповідальністю "МКМ СЕРВІС ЛТД" Код ЄДРПОУ 36444694 ІПН 364446910083 07300, Київська область, м. Вишгород, вул. Шолуденка, буд. № 19 тел. (044)354-31-99, факс (044)354-31-62 розрахунковий рахунок UA67 3003 3500 0000 0026 0031 8692 9 МФО 380805 в АТ „Райффайзен Банк ” м. Київ</p>
	</div>
</section>