.cart-btn {
	$root: &;
	$padding: 1px;
	$icon-size: 38px;
	$transition-duration: .3s;

	--theme: var(--clr-primary);
	min-width: $icon-size + 27px;
	height: $icon-size + $padding * 2;
	padding: $padding;
	position: relative;
	background-color: var(--theme);
	color: #fff;
	text-transform: lowercase;
	border-radius: 20px;
	font: 400 18px/1 'Oswald', sans-serif;
	white-space: nowrap;
	text-align: center;
	user-select: none;
	transition-property: filter, background-color;
	transition-duration: .2s, $transition-duration;
	overflow: hidden;

	&._active {
		--theme: #3a3a3a;
	}

	&__label {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		padding-bottom: .3em;
		transition-property: clip-path, visibility;
		transition-duration: $transition-duration;

		&:first-child {
			clip-path: inset(0 0 0 0%);
			padding-inline: 20px #{$icon-size + 8px};

			#{$root}._active & {
				clip-path: inset(0 100% 0 0);
				visibility: hidden;
			}
		}

		&:last-child {
			padding-inline: #{$icon-size + 8px} 20px;
			position: absolute;
			inset: 0;
			clip-path: inset(0 0 0 100%);
			visibility: hidden;

			#{$root}._active & {
				clip-path: inset(0 0 0 0%);
				visibility: visible;
			}
		}
	}

	&__icon {
		position: absolute;
		top: $padding;
		right: $padding;
		display: flex;
		align-items: center;
		justify-content: center;
		width: $icon-size;
		height: $icon-size;
		border-radius: 50%;
		background-color: #fff;
		color: var(--theme);
		transition-property: right, color;
		transition-duration: $transition-duration;

		#{$root}._active & {
			right: calc(100% - $icon-size - $padding);
		}

		#{$root}._loading & {
			&::before {
				$size: 1em;
				content: '';
				position: absolute;
				top: calc(50% - $size * 0.5);
				left: calc(50% - $size * 0.5);
				width: $size;
				height: $size;
				border-radius: 50%;
				border: 2px solid currentColor;
				border-bottom-color: transparent;
				animation: cart-btn-spinner .5s linear infinite;
			}

			.icon {
				display: none;
			}
		}
	}

	@media (hover) {
		&:hover {
			filter: brightness(1.15);
		}
	}

	@container (width<300px) {
		&__label {
			display: none;
		}
	}
}

@keyframes cart-btn-spinner {
	to {
		transform: rotate(360deg);
	}
}