@use "/src/scss/_var";

.filter {
	$root: &;

	padding: 15px;
	background-color: #fff;

	&[inert] :is(input, button, #filter-price-range) {
		opacity: .5;
	}

	&__group {
		padding: 0;
		border: 0;

		&_id {
			&_prices {
				margin-bottom: 56px !important;
			}
		}

		&:not(:last-child) {
			margin-bottom: 28px;
		}

		&::details-content {
			transition: height 0.5s, opacity 0.5s, content-visibility 0.5s allow-discrete;
			height: 0;
			opacity: 0;
			overflow: clip;
		}

		&[open]::details-content {
			height: auto;
			opacity: 1;
		}
	}

	&__title {
		display: flex;
		align-items: center;
		justify-content: space-between;
		column-gap: 8px;
		padding: 0;
		font-size: 18px;
		font-weight: 700;
	}

	&__title-icon {
		font-size: 16px;
		transition: transform .2s;

		#{$root}__group[open] & {
			transform: scaleY(-1);
		}
	}

	&__content {
		padding-top: 12px;
	}

	&__scroller {
		$item-height: 24px;
		$item-gap: 16px;
		$visible-items: 5;

		max-height: $item-height * $visible-items + $item-gap * ($visible-items - 1);
		overflow: hidden;
		overflow-y: auto;
		overscroll-behavior: contain;
		scrollbar-width: thin;
		scrollbar-color: var(--page-theme, var(--clr-primary)) #eee;
	}

	&__item {
		display: flex;
		align-items: center;
		column-gap: 8px;

		&:not(:last-child) {
			margin-bottom: 16px;
		}
	}

	&__prices {
		margin-bottom: 32px;
		display: flex;
		column-gap: 32px;
	}

	&__price-col {
		display: flex;
		align-items: center;
		column-gap: 8px;
		flex-grow: 1;
	}

	&__price {
		width: 0;
		flex-grow: 1;
		height: 34px;
		padding: 0;
		border-radius: 17px;
		border: 1px solid #cccccc;
		font-size: 16px;
		text-align: center;
		transition: border-color .2s;

		&:focus {
			border-color: var(--clr-primary);
		}
	}

	&__checkbox {
		flex-shrink: 0;
	}

	@media (width<1200px) {
		position: fixed;
		z-index: var.$filter-z + 1;
		top: 0;
		right: 100%;
		height: 100%;
		width: 290px;
		max-width: 100%;
		visibility: hidden;
		overflow-y: auto;
		overscroll-behavior: contain;
		transition: visibility .5s, transform .5s;

		&._open {
			visibility: visible;
			transform: translateX(100%);
		}

		&__close-btn {
			display: block;
			margin-left: auto;
			font-size: 24px;
			transition: color .2s;
		}
	}

	@media (width>=1200px) {
		border-radius: 20px;
		padding-block: 23px;

		&__close-btn {
			display: none;
		}
	}

	@media (hover) {
		&__close-btn:hover {
			color: var(--clr-primary);
		}
	}
}

.filter-overlay {
	@media (width<1200px) {
		position: fixed;
		z-index: var.$filter-z;
		inset: 0;
		background-color: rgba($color: #000000, $alpha: 0.7);
		transition: opacity .5s, visibility .5s;

		@at-root .filter:not(._open)+& {
			opacity: 0;
			visibility: hidden;
		}
	}

	@media (width>=1200px) {
		display: none;
	}
}

.filter-scroll-lock {
	@media (width<1200px) {
		overflow: hidden;
	}
}