---
import "./card.scss";

interface Props {
	title: string;
	class?: string;
	[key: string]: unknown;
}

const { class: className, title, ...props } = Astro.props;
---

<section class:list={[className, "card"]} {...props}>
	<header class="card__header">
		<h2 class="card__title">{title}</h2>
		<slot name="header" />
	</header>
	<slot />
</section>
