---
import Icon from '@components/Icon/Icon.astro';

interface Props {
	icon?: string;
}

const { icon } = Astro.props
---

<div class="card__preview">
	{icon && <Icon id={icon} />}
	<span class="card__preview-label"><slot /></span>
</div>