.icon {
	display: block;
	stroke-width: 0;
	width: 1em;
	height: 1em;
	stroke: currentColor;
	fill: currentColor;
	flex-shrink: 0;

	&_id {
		&_harvest {
			width: 0.5927734375em;
		}

		&_truck-fast {
			width: 2.1240234375em;
		}
	}
}