---
import Card from "@components/Card/Card.astro";
import CardPreview from "@components/Card/CardPreview.astro";
import PersonalData from "@components/PersonalData/PersonalData.astro";
import Cart from "@components/Cart/Cart.astro";
import CitySelector from "@components/CitySelector/CitySelector.astro";
import CheckoutOptions from "@components/CheckoutOptions/CheckoutOptions.astro";
import Btn from "@components/Btn/Btn.astro";
import "./checkout.scss";
---

<div class="checkout">
	<Card class="checkout__section" title="Персональні дані">
		<CardPreview icon="user" slot="preview"
			><b>Замовник:</b> Іванов Іван +38 067 999 55 22</CardPreview
		>
		<PersonalData slot="edit" id="owner-form" fieldsPerfixId="owner">
			<Fragment slot="actions">
				<Btn variant="solid" id="owner-save-btn">Зберегти</Btn>
			</Fragment>
		</PersonalData>
	</Card>

	<Card class="checkout__section" id="checkout-cart-card" title="Замовлення" isEditable>
		<Cart class="checkout__cart" view="summary" hideFooter />
	</Card>

	<Card class="checkout__section" title="Доставка">
		<CitySelector slot="header" />
		<CheckoutOptions type="delivery" />
	</Card>

	<Card class="checkout__section" title="Оплата">
		<CheckoutOptions type="payment" />
	</Card>

	<Card class="checkout__section" title="Отримувач">
		<CardPreview icon="user" slot="preview"><b>Гість</b></CardPreview>
		<PersonalData slot="edit" id="receiver-form" fieldsPerfixId="receiver">
			<Fragment slot="actions">
				<Btn variant="solid" id="receiver-save-btn">Змінити отримувача</Btn>
				<Btn variant="outline" id="keep-owner-btn">Залишити Замовника</Btn>
			</Fragment>
		</PersonalData>
	</Card>
</div>
