---
import Card from "@components/Card/Card.astro";
import EditBtn from "@components/EditBtn/EditBtn.astro";
import EditableCard from "@components/EditableCard/EditableCard.astro";
import Form from "@components/Form/Form.astro";
import Field from "@components/Field/Field.astro";
import Btn from "@components/Btn/Btn.astro";
import Cart from "@components/Cart/Cart.astro";
import CitySelector from "@components/CitySelector/CitySelector.astro";
import CheckoutOptions from "@components/CheckoutOptions/CheckoutOptions.astro";
import "./checkout.scss";
---

<div class="checkout">
	<Card class="checkout__section" title="Персональні дані">
		<EditBtn class="card__btn" targetCard="customer" slot="header" />
		<EditableCard icon="user" id="customer">
			<Fragment slot="preview"><b>Замовник:</b> Іванов Іван +38 067 999 55 22</Fragment>
			<Form as="div" slot="edit">
				<Field label="Прізвище" component="input" id="customer-lastname" name="customer-lastname" />
				<Field label="Ім'я" component="input" id="customer-firstname" name="customer-firstname" />
				<Field
					label="По батькові"
					component="input"
					id="customer-middlename"
					name="customer-middlename"
				/>
				<Field
					label="Мобільний телефон"
					component="input"
					id="customer-phone"
					name="customer-phone"
					data-phone-mask=""
				/>
				<Btn id="customer-save-btn" variant="solid" slot="actions">Зберегти</Btn>
			</Form>
		</EditableCard>
	</Card>

	<Card class="checkout__section" title="Замовлення" isEditable>
		<EditBtn id="cart-view-toggler" class="card__btn" slot="header" />
		<Cart class="checkout__cart" view="summary" hideFooter />
	</Card>

	<Card class="checkout__section" title="Доставка">
		<CitySelector slot="header" />
		<CheckoutOptions type="delivery" />
	</Card>

	<Card class="checkout__section" title="Оплата">
		<CheckoutOptions type="payment" />
	</Card>

	<Card class="checkout__section" title="Отримувач">
		<EditBtn class="card__btn" targetCard="recipient" slot="header" />
		<EditableCard icon="user" id="recipient">
			<Fragment slot="preview"><b>Гість</b></Fragment>
			<Form as="div" slot="edit">
				<Field label="Прізвище" component="input" id="recipient-lastname" name="recipient-lastname" />
				<Field label="Ім'я" component="input" id="recipient-firstname" name="recipient-firstname" />
				<Field
					label="По батькові"
					component="input"
					id="recipient-middlename"
					name="recipient-middlename"
				/>
				<Field
					label="Мобільний телефон"
					component="input"
					id="recipient-phone"
					name="recipient-phone"
					data-phone-mask=""
				/>
				<Fragment slot="actions">
					<Btn variant="solid" id="recipient-save-btn">Змінити отримувача</Btn>
					<Btn variant="outline" id="keep-customer-btn">Залишити Замовника</Btn>
				</Fragment>
			</Form>
		</EditableCard>
	</Card>
</div>
