---
import Layout from "@layouts/Layout.astro";
import Breadcrumbs from "@components/Breadcrumbs/Breadcrumbs.astro";
import Title from "@components/Title/Title.astro";
import CatalogOverview from "@components/CatalogOverview/CatalogOverview.astro";
import Section from "@components/Section/Section.astro";
import SwiperNav from "@components/SwiperNav/SwiperNav.astro";
import Offers from "@components/Offers/Offers.astro";
---

<Layout metaTitle="Каталог" headerPosition="static" theme="home">
	<link rel="stylesheet" href="/assets/css/nouislider.min.css" slot="head">
	<script src="/assets/js/nouislider.min.js" slot="scripts" is:inline></script>

	<Breadcrumbs items={["Каталог"]} />
	<main class="page__main">
		<hgroup class="page__title container">
			<Title as="h1" size={1}>Каталог продукції</Title>
		</hgroup>
		<CatalogOverview class="page__section container" />
		<Section class="container" title="Рекомендуємо скуштувати" subtitle="Це теж добре смакує!">
			<Fragment slot="section-actions">
				<SwiperNav sliderTargetId="offers" />
			</Fragment>
			<Offers sliderId="offers" />
		</Section>
	</main>
</Layout>
