---
import orderSummaryData from "@data/order-summary.json"

import Layout from "@layouts/Layout.astro";
import Breadcrumbs from "@components/Breadcrumbs/Breadcrumbs.astro";
import Subtitle from "@components/Subtitle/Subtitle.astro";
import Title from "@components/Title/Title.astro";
import SidebarGrid from "@components/SidebarGrid/SidebarGrid.astro";
import Auth from "@components/Auth/Auth.astro";
import OrderSummary from "@components/OrderSummary/OrderSummary.astro";
---

<Layout metaTitle="Оформлення замовлення" headerPosition="static" theme="home">
	<Breadcrumbs items={["Кошик"]} />
	<main class="page__main container">
		<hgroup class="page__title">
			<Subtitle size="lg">Для дому</Subtitle>
			<Title as="h1" size={1}>Оформлення замовлення</Title>
		</hgroup>
		<SidebarGrid class="page__section" align="start" reverse>
			<Auth slot="content" />
			<OrderSummary slot="sidebar" {...orderSummaryData.mock2} />
		</SidebarGrid>
	</main>
</Layout>
