---
import orderSummaryData from "@data/order-summary.json";

import Layout from "@layouts/Layout.astro";
import Breadcrumbs from "@components/Breadcrumbs/Breadcrumbs.astro";
import Subtitle from "@components/Subtitle/Subtitle.astro";
import Title from "@components/Title/Title.astro";
import SidebarGrid from "@components/SidebarGrid/SidebarGrid.astro";
import Auth from "@components/Auth/Auth.astro";
import Card from "@components/Card/Card.astro";
import EditBtn from "@components/EditBtn/EditBtn.astro";
import EditableCard from "@components/EditableCard/EditableCard.astro";
import Btn from "@components/Btn/Btn.astro";
import Form from "@components/Form/Form.astro";
import Field from "@components/Field/Field.astro";
import OrderSummary from "@components/OrderSummary/OrderSummary.astro";
---

<Layout metaTitle="Оформлення замовлення" headerPosition="static" theme="home">
	<Breadcrumbs items={["Кошик"]} />
	<main class="page__main container">
		<hgroup class="page__title">
			<Subtitle size="lg">Для дому</Subtitle>
			<Title as="h1" size={1}>Оформлення замовлення</Title>
		</hgroup>
		<SidebarGrid class="page__section" align="start" reverse>
			<div slot="content">
				<Auth />

				<br /><br />

				<Card title="Персональні дані">
					<EditBtn class="card__btn" targetCard="personal-data" slot="header" />
					<EditableCard icon="user" id="personal-data">
						<b slot="preview">Гість</b>
						<Form action="" data-form="account-personal-data" slot="edit">
							<Field label="Прізвище" component="input" id="profile-lastname" name="lastname" />
							<Field label="Ім'я" component="input" id="profile-firstname" name="firstname" />
							<Field label="По батькові" component="input" id="profile-middlename" name="middlename" />
							<Field
								label="Мобільний телефон"
								component="input"
								id="profile-phone"
								name="phone"
								data-phone-mask=""
							/>
							<Btn variant="solid" type="submit" slot="actions">Зберегти</Btn>
						</Form>
					</EditableCard>
				</Card>
			</div>
			<OrderSummary slot="sidebar" {...orderSummaryData.mock2} />
		</SidebarGrid>
	</main>
</Layout>
