---
const pages = [
	{ label: "Головна", slug: "homepage" },
	{ label: "Каталог плитка (Для дому)", slug: "catalog-grid" },
	{ label: "Каталог плитка (Бізнес)", slug: "catalog-grid-business" },
	{ label: "Каталог плитка (Horeca)", slug: "catalog-grid-horeca" },
	{ label: "Каталог список", slug: "catalog-list" },
	{ label: "Сторінка продукту", slug: "product" },
	{ label: "Кошик", slug: "cart" },
	{ label: "Оформлення замовлення", slug: "checkout" },
	{ label: "Оформлення замовлення - Вхід", slug: "checkout-login" },
];
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Pages</title>
	</head>
	<body style="padding: 30px">
		<ol style="list-style: numeric">
			{
				pages.map(({ label, slug }) => (
					<li>
						<a href={`/${slug}`} target="_blank">{label}</a>
					</li>
				))
			}
		</ol>
	</body>
</html>
