---
const pages = [
	{ label: "Головна", slug: "homepage" },
	{ label: "Каталог плитка", slug: "catalog-grid" },
	{ label: "Каталог плитка (бізнес)", slug: "catalog-grid-business" },
	{ label: "Каталог плитка (Horeca)", slug: "catalog-grid-horeca" },
	{ label: "Каталог список", slug: "catalog-list" },
];
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Pages</title>
	</head>
	<body>
		<ol>
			{
				pages.map(({ label, slug }) => (
					<li>
						<a href={`/${slug}`} target="_blank">{label}</a>
					</li>
				))
			}
		</ol>
	</body>
</html>
