---
import Layout from "@layouts/Layout.astro";
import Breadcrumbs from "@components/Breadcrumbs/Breadcrumbs.astro";
import Section from "@components/Section/Section.astro";
import Btn from "@components/Btn/Btn.astro";
import Showcase from "@components/Showcase/Showcase.astro";
import Recipes from "@components/Recipes/Recipes.astro";
---

<Layout metaTitle="Showcase" headerPosition="static" theme="home">
	<Breadcrumbs items={[]} />
	<main class="page__main">
		<!-- <Showcase /> -->
		 <Section
			class="page__section container"
			title="Рецепти"
		>
			<Fragment slot="section-actions">
				<Btn href="#" variant="solid" iconEnd="arrow-right">Дивитись всі</Btn>
			</Fragment>
			<Recipes />
		</Section>
	</main>
</Layout>
