@use "/src/scss/_var";

.header {
	$root: &;
	$padding-inline: 44px;
	z-index: var.$sticky-header-z;

	&_pos {
		&_absolute {
			transform: translateY(0%);
			position: absolute;
			inset: 22px 0 auto;
		}
	}

	&_sticky {
		--nav-link-hover-bg: var(--clr-primary);
		--nav-link-hover-color: #fff;
		position: sticky;
		top: 0 !important;
		background-color: #fff;
		box-shadow: 0px 5px 3.5px rgba(0, 0, 0, 0.42);
		animation: header-entering .5s forwards;
	}

	&__inner {
		width: min(var(--container-width) + 88px, 100% - var(--container-gutters) * 2);
		margin-inline: auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
		column-gap: 24px;
		background-color: rgba($color: #f5f1ec, $alpha: 0.72);
		box-shadow: 1px 0px 18px rgba($color: #000000, $alpha: 0.17);
		border-radius: 36px;
		padding: 7px 10px 7px 16px;

		#{$root}_sticky & {
			background-color: #fff;
			box-shadow: none;
			padding-inline: 0;
			width: min(var(--container-width), 100% - var(--container-gutters) * 2);
		}
	}

	&__nav-btn {
		flex-shrink: 0;
		padding: 4px;
		font-size: 32px;
	}

	&__search {
		position: absolute;
		z-index: 1;
		top: 0;
		height: 100%;
	}

	&__actions {
		display: flex;
		align-items: center;
		column-gap: 21px;
	}

	@media (width<var.$nav-bp) {
		&__logo {
			max-width: 142px;
		}

		&__actions {
			position: relative;
			margin-bottom: 53px;
		}

		&__cart-desktop {
			display: none;
		}

		&__search {
			left: 0;
			width: calc(100% - 20px);
		}
	}

	@media (width>=var.$nav-bp) {
		&_pos_absolute {
			top: 27px;
		}

		&__inner {
			display: grid;
			grid-template-columns: minmax(max-content, 1fr) minmax(0, auto) 1fr;
			align-items: center;
			column-gap: 12px;
			padding: 12px 44px;
		}

		&__mobile-nav {
			display: contents;
		}

		&__nav-btn,
		&__cart-mobile {
			display: none;
		}

		&__logo {
			max-width: 188px;
		}

		&__nav {
			flex-grow: 1;
		}

		&__search-group {
			position: relative;
		}

		&__search {
			right: 0;
			width: 365px;
		}

		&__actions {
			order: 1;
			justify-self: end;
		}
	}
}

@keyframes header-entering {
	from {
		transform: translateY(-100%);
	}

	to {
		transform: translateY(0%);
	}
}