@use "/src/scss/_var";

.header {
	$root: &;
	$padding-inline: 44px;

	&_pos {
		&_absolute {
			transform: translateY(0%);
			position: absolute;
			inset: 22px 0 auto;
			z-index: 10;
		}
	}

	&_fixed {
		--nav-link-hover-bg: var(--clr-primary);
		--nav-link-hover-color: #fff;
		position: fixed;
		top: 0 !important;
		background-color: #fff;
		box-shadow: 0px 5px 3.5px rgba(0, 0, 0, 0.42);
		animation: header-entering .5s forwards;
	}

	&_leaving {
		animation: header-leaving .5s forwards;
	}

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		column-gap: 24px;
		background-color: rgba($color: #f5f1ec, $alpha: 0.72);
		box-shadow: 1px 0px 18px rgba($color: #000000, $alpha: 0.17);
		border-radius: 36px;
		padding: 7px 10px 7px 16px;

		#{$root}_pos_absolute & {
			width: min(var(--container-width) + 88px, 100% - var(--container-gutters) * 2);
			margin-inline: auto;
		}

		#{$root}_fixed & {
			background-color: #fff;
			box-shadow: none;
			padding-inline: 0;
			width: min(var(--container-width), 100% - var(--container-gutters) * 2);
		}
	}

	&__nav-btn {
		flex-shrink: 0;
		padding: 4px;
		font-size: 32px;
	}

	@media (width<1200px) {

		&__nav,
		&__search-btn,
		&__profile-btn {
			display: none;
		}

		&__logo {
			max-width: 142px;
		}
	}

	@media (width>=1200px) {
		top: 27px;

		&__inner {
			display: grid;
			grid-template-columns: minmax(max-content, 1fr) minmax(0, auto) 1fr;
			align-items: center;
			column-gap: 12px;
			padding: 12px 44px;
		}

		&__nav-btn {
			display: none;
		}

		&__logo {
			max-width: 188px;
		}

		&__nav {
			flex-grow: 1;
		}

		&__actions {
			justify-self: end;
			display: flex;
			align-items: center;
			column-gap: 21px;
		}
	}
}

@keyframes header-entering {
	from {
		transform: translateY(-100%);
	}
	to {
		transform: translateY(0%);
	}
}

@keyframes header-leaving {
	to {
		transform: translateY(-100%);
	}
}