---
import Icon from "@components/Icon/Icon.astro";
import Logo from "@components/Logo/Logo.astro";
import Nav from "@components/Nav/Nav.astro";
import Btn from "@components/Btn/Btn.astro";
import Search from "@components/Search/Search.astro";
import "./header.scss";

interface Props {
	position: "absolute" | "static";
}

const { position } = Astro.props;
---

<header class:list={["header", position && `header_pos_${position}`]}>
	<div class="header__inner">
		<button class="header__nav-btn" type="button" aria-label="Відкрити меню">
			<Icon id="burger" />
		</button>
		<div class="header__logo">
			<Logo class="header__logo" />
		</div>
		<Nav class="header__nav" />
		<div class="header__actions">
			<div class="header__search-group">
				<Btn class="header__search-btn" variant="outline" iconStart="search" title="Пошук" />
				<Search class="header__search" />
			</div>
			<Btn class="header__profile-btn" variant="outline" iconStart="user-alt" title="Профіль" href="#" />
			<Btn variant="solid" iconStart="cart" title="Кошик" />
		</div>
	</div>
</header>
