---
import "./subtitle.scss";

interface Props {
	size?: "lg";
	class?: string;
}

const { class: className, size } = Astro.props;
---

<p class:list={[className, "subtitle", size && `subtitle_size_${size}`]}><slot /></p>
