---
import Field from "@components/Field/Field.astro";
import Btn from "@components/Btn/Btn.astro";
import "@components/AuthForm/auth-form.scss";
---

<form class="auth-form" id="email-login-form">
	<Field
		class="auth-form__row"
		label="Ел. пошта"
		component="input"
		id="login-email"
		type="email"
		name="email"
		required
	/>
	<Field
		class="auth-form__row"
		label="Пароль"
		component="input"
		id="login-password"
		type="password"
		name="password"
		required
	/>
	<div class="auth-form__actions">
		<Btn class="auth-form__primary-btn" variant="solid" type="submit">Продовжити</Btn>
		<Btn class="auth-form__secondary-btn" variant="ghost-underline" data-auth-method="forgot-password">Нагадати пароль</Btn>
	</div>
</form>
