---
import Field from "@components/Field/Field.astro";
import Btn from "@components/Btn/Btn.astro";
import "./email-login.scss";
---

<form class="email-login" id="email-login-form">
	<Field
		class="email-login__row"
		label="Ел. пошта"
		component="input"
		id="login-email"
		type="email"
		name="email"
		required
	/>
	<Field
		class="email-login__row"
		label="Пароль"
		component="input"
		id="login-password"
		type="password"
		name="password"
		required
	/>
	<div class="email-login__actions">
		<Btn class="email-login__submit-btn" variant="solid" type="submit">Продовжити</Btn>
		<Btn class="email-login__remind-btn" variant="ghost-underline">Нагадати пароль</Btn>
	</div>
</form>
