---
import "./payments.scss";

const { class: className } = Astro.props;

const payments = [
	{ filename: "visa.svg", title: "Visa", width: 32, height: 12 },
	{ filename: "mastercard.svg", title: "Mastercard", width: 23, height: 15 },
	{ filename: "monobank.svg", title: "Monobank", width: 18, height: 18 },
	{ filename: "privatbank.svg", title: "ПриватБанк", width: 18, height: 17 },
];
---

<div class:list={[className, "payments"]}>
	{
		payments.map(({ filename, ...rest }) => (
			<img class="payments__logo" src={`/assets/img/${filename}`} {...rest} loading="lazy" />
		))
	}
</div>
