---
import Field from "@components/Field/Field.astro";
import Btn from "@components/Btn/Btn.astro";
import "@components/AuthForm/auth-form.scss";
---

<form class="auth-form" data-form="forgot-password">
	<Field
		class="auth-form__row"
		label="Ел. пошта"
		component="input"
		id="forgot-password-email"
		type="email"
		name="email"
		required
	/>
	<div class="auth-form__actions">
		<Btn class="auth-form__primary-btn" variant="solid" type="submit">Відновити пароль</Btn>
	</div>
</form>
