---
import Title from "@components/Title/Title.astro";
import Btn from "@components/Btn/Btn.astro";
import Collage from "@components/Collage/Collage.astro";
import "./showcase.scss";

const { class: className } = Astro.props;
---

<section class:list={[className, "showcase"]}>
	<Title class="showcase__title" as="h2" size={2}>FreshMeatUA – це світ свіжості</Title>
	<div class="showcase__text">
		<div class="showcase__description wysiwyg">
			<p>FreshMeatUA – це світ свіжості, де кожен шматок м’яса зберігає свій натуральний смак і текстуру. Ми ретельно дотримуємось усіх технологій зберігання та обробки, щоб гарантовано зберігати максимальну свіжість і якість. Наша мета – щоб ви могли насолоджуватись кожним шматком, який стане основою для ваших найкращих страв.</p>
			<p>FreshMeatUA – це не просто свіже м’ясо, це впевненість у тому, що ваші страви завжди будуть відрізнятись натуральним смаком. Ми дбаємо про кожен етап, щоб ви могли легко і безтурботно створювати страви, що підкорюють з першого укусу. </p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam alias vero est, debitis magnam molestiae quis aperiam doloremque deleniti rerum id quo laudantium dignissimos qui ad ipsam cumque obcaecati sint. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
		</div>
		<Btn class="showcase__btn" variant="solid" iconEnd="arrow-right" href="#">У магазин</Btn>
	</div>
	<Collage class="showcase__collage" />
</section>
