@use "./_var";

:root {
	interpolate-size: allow-keywords;

	--container-width: #{var.$container-width};
	--container-gutters: #{var.$container-gutters-mobile};
	--page-font-family: "Roboto", sans-serif;
	--page-line-height: 1.5;
	--page-font: fluid(14, 16)/var(--page-line-height) var(--page-font-family);
	--clr-primary: #bd1d2d;
	--clr-alpha: #ffa300;
	--clr-beta: #62b5e5;
	--clr-gamma: #ff7276;
	--clr-gamma-darker: #f9696d;

	@media (prefers-reduced-motion: no-preference) {
		scroll-behavior: smooth;
	}

	@media (width>=768px) {
		--container-gutters: #{var.$container-gutters-desktop};
	}
}

html {
	height: 100%;
}

body {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	font: var(--page-font);
	color: #000;
	background-color: #f3eee7;
	font-optical-sizing: auto;
	font-variation-settings: "wdth" 100;
}

::selection {
	background-color: var(--clr-primary);
	color: #fff;
}