.page {
	padding-top: fluid(21, 28);

	&_id {
		&_homepage {
			padding-top: 0;
		}
	}

	&_theme {
		&_home {
			--page-theme: var(--clr-gamma);
		}

		&_business {
			--page-theme: var(--clr-beta);
		}

		&_horeca {
			--page-theme: var(--clr-alpha);
		}
	}

	&__main {
		padding-bottom: fluid(50, 100);
	}

	&__section {
		&:not(:last-child) {
			margin-bottom: fluid(80, 140);
		}
	}

	&__title {
		margin-bottom: fluid(20, 30);
	}

	&__footer {
		margin-top: auto;
	}
}