.page {
	padding-top: fluid(21, 28);

	&_id {
		&_homepage {
			padding-top: 0;
		}

		&_catalog-home {
			--page-theme: var(--clr-gamma);
		}

		&_catalog-business {
			--page-theme: var(--clr-beta);
		}

		&_catalog-horeca {
			--page-theme: var(--clr-alpha);
		}
	}

	&__section {
		&:not(:last-child) {
			margin-bottom: fluid(80, 140);
		}
	}

	&>* {
		flex-shrink: 0;
	}

	&__title {
		margin-bottom: fluid(20, 30);
	}

	&__footer {
		margin-top: auto;
	}
}