.u-margin-trim {
	& > :first-child {
		margin-top: 0 !important;
	}

	& > :last-child {
		margin-bottom: 0 !important;
	}
}

.u-pb-0 {
	padding-bottom: 0 !important;
}

.u-color-page-theme {
	color: var(--page-theme, var(--clr-primary));
}