---
import "/src/scss/index.scss";
import Header from "@components/Header/Header.astro";
import Footer from "@components/Footer/Footer.astro";

interface Props {
	metaTitle: string;
	headerPosition: "absolute" | "static";
	pageId?: string;
}

const { metaTitle, headerPosition, pageId } = Astro.props;
---

<html lang="uk">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{metaTitle}</title>
		<meta name="description" content={metaTitle} />
		<link rel="stylesheet" href="/assets/css/swiper-bundle.min.css" />
		<slot name="head" />
	</head>
	<body class:list={["page", pageId && `page_id_${pageId}`]}>
		<Header position={headerPosition} />
		<slot />
		<Footer class="page__footer" />
		<script src="/assets/js/swiper-bundle.min.js" defer is:inline></script>
		<slot name="scripts" />
		<script src="/src/scripts/index.js"></script>
	</body>
</html>
