.nav {
	$root: &;

	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		font-size: fluid(16, 20, 992, 1200);
		font-weight: 500;
	}

	&__link {
		display: block;
		align-content: center;
		padding: 8px fluid(8, 15, 992, 1200);
		border-radius: 100px;
		text-align: center;
		transition: background-color .15s, color .15s;
	}

	@media (hover) {
		&__link:hover {
			background-color: var(--nav-link-hover-bg, rgba($color: #fff, $alpha: 0.8));
			color: var(--nav-link-hover-color, currentColor);
		}
	}
}