---
import Icon from "@components/Icon/Icon.astro";
import "./nav.scss";

const { class: className } = Astro.props;

const nav = [
	{ label: "Акції" },
	{
		label: "Продукція",
		subnav: [
			{ label: "Для дому", icon: "store", theme: "home" },
			{ label: "Для Бізнесу", icon: "truck", theme: "business" },
			{ label: "Для HoReCa", icon: "restaurant", theme: "horeca" },
		],
	},
	{ label: "Про нас" },
	{ label: "Партнерам" },
	{ label: "Доставка" },
	{ label: "Контакти" },
];
---

<nav class:list={[className, "nav"]}>
	<ul class="nav__list">
		{
			nav.map(({ label, subnav }) => (
				<li class="nav__item">
					<a class="nav__link" href="#">
						{label}
					</a>
					{subnav && (
						<div class="nav__subnav subnav">
							<ul class="subnav__list">
								{subnav.map(({ label, icon, theme }) => (
									<li class="subnav__item">
										<a class:list={["subnav__link", theme && `subnav__link_theme_${theme}`]} href="#">
											{icon && <Icon class="subnav__icon" id={icon} />}
											{label}
										</a>
									</li>
								))}
							</ul>
						</div>
					)}
				</li>
			))
		}
	</ul>
</nav>