.slider {
	border-radius: 20px;

	&__img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__pagination {
		--swiper-pagination-bottom: fluid(10, 20);
		padding-left: fluid(22, 47);
		display: flex;
	}
}