---
import products from "@data/products.json"
import ProductTile from "@components/ProductTile/ProductTile.astro";
import "./offers.scss";

interface Props {
	sliderId: string;
}

const { sliderId } = Astro.props;
---

<div class="offers swiper" id={sliderId}>
	<div class="offers__slider swiper-wrapper">
		{[...products, ...products].map((product) => <ProductTile class="swiper-slide" {...product} />)}
	</div>
</div>
